#map {
    height: 100vh;
    width: 100vw;
}

#iw-text {
    padding: 3px;
    font-size: 16px;
    cursor: text;
}

.coord {
    margin: 2px;
    cursor: pointer;
}

.coord:active{
    margin: 0px;
    border: 2px solid DodgerBlue

}